.btn {
  padding: 1rem 2rem;
  background-color: #8A784E;
  color: #fff;
  font-weight: 600;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #AEC8A4;
}
