.visualizer-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;
  min-height: 120px;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.visual-box {
  padding: 1rem;
  min-width: 40px;
  text-align: center;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: #AEC8A4;
  color: #3B3B1A;
  transition: all 0.3s ease;
}
